{% extends 'base.html' %}

{% block title %}Book Appointment{% endblock %}

{% block content %}
    <h1>Book an Appointment</h1>
    <form method="post" enctype="multipart/form-data" class="appointment-form">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="{{ form.user_name.id_for_label }}">User Name:</label>
            <input type="text" id="{{ form.user_name.id_for_label }}" name="{{ form.user_name.name }}" value="{{ request.user.username }}" readonly class="form-control">
        </div>
        
        <div class="form-group">
            <label for="{{ form.vehicle_model.id_for_label }}">Vehicle Model:</label>
            <input type="text" id="{{ form.vehicle_model.id_for_label }}" name="{{ form.vehicle_model.name }}" value="{{ form.vehicle_model.value }}" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="{{ form.build_year.id_for_label }}">Build Year:</label>
            <input type="number" id="{{ form.build_year.id_for_label }}" name="{{ form.build_year.name }}" value="{{ form.build_year.value }}" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="{{ form.engine_number.id_for_label }}">Engine Number:</label>
            <input type="text" id="{{ form.engine_number.id_for_label }}" name="{{ form.engine_number.name }}" value="{{ form.engine_number.value }}" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="{{ form.chassis_number.id_for_label }}">Chassis Number:</label>
            <input type="text" id="{{ form.chassis_number.id_for_label }}" name="{{ form.chassis_number.name }}" value="{{ form.chassis_number.value }}" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="{{ form.registration_number.id_for_label }}">Registration Number:</label>
            <input type="text" id="{{ form.registration_number.id_for_label }}" name="{{ form.registration_number.name }}" value="{{ form.registration_number.value }}" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="{{ form.service_date.id_for_label }}">Service Date:</label>
            <input type="date" id="{{ form.service_date.id_for_label }}" name="{{ form.service_date.name }}" value="{{ form.service_date.value }}" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="{{ form.service_time.id_for_label }}">Service Time:</label>
            <select id="{{ form.service_time.id_for_label }}" name="{{ form.service_time.name }}" class="form-control">
                {% for time_slot in time_slots %}
                    <option value="{{ time_slot }}">{{ time_slot }}</option>
                {% endfor %}
            </select>
        </div>
       
        <div class="form-group">
            <label for="{{ form.service_type.id_for_label }}">Service Type:</label>
            <select id="{{ form.service_type.id_for_label }}" name="{{ form.service_type.name }}" class="form-control">
                {% for service in service_types %}
                    <option value="{{ service.id }}">{{ service.service_name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Book Appointment</button>
    </form>
{% endblock %}
