{% extends "base.html" %}
{% block content %}
<div class="container">
  <form method="post" action="{% url 'change_password' %}" id="change-password-form">
    {% csrf_token %}
    <div class="mt-5">
      <h3 class="my-4 mt-5">Change Password</h3>
      <hr />
      <!-- Validation message box -->
      <div id="validation-message" class="alert alert-danger" style="display: none;"></div>

      <div class="col-md-12">
        <label for="new-password" class="form-label" required>New password *</label>
        <input
          type="password"
          name="new_password"
          class="form-control"
          id="new-password"
          required
        />
      </div>
      <!-- Confirm password -->
      <div class="col-md-12">
        <label for="confirm-password" class="form-label" required>Confirm Password *</label>
        <input
          type="password"
          class="form-control"
          name="confirm_password"
          id="confirm-password"
          required
        />
      </div>
    </div>
    <div class="d-flex justify-content-center w-100 align-items-center">
      <button class="btn btn-primary profile-button" type="submit">Update Password</button>
    </div>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const changePasswordForm = document.getElementById('change-password-form');
    const newPasswordInput = document.getElementById('new-password');
    const confirmPasswordInput = document.getElementById('confirm-password');
    const validationMessage = document.getElementById('validation-message');

    changePasswordForm.addEventListener('submit', function (e) {
      // Check if passwords match
      if (newPasswordInput.value !== confirmPasswordInput.value) {
        e.preventDefault(); // Prevent form submission
        displayValidationMessage('Passwords do not match.');
      } else if (!isPasswordValid(newPasswordInput.value)) {
        e.preventDefault(); // Prevent form submission
        displayValidationMessage('Password is too short or contains invalid characters.');
      }
    });

    // Password validation function
    function isPasswordValid(password) {
      // Modify this function to match your password validation criteria
      // For example, you can check for minimum length, special characters, etc.
      if (password.length < 8) {
        return false; // Password is too short
      }
      // Allowing special characters (including #) in passwords
if (!/^[A-Za-z0-9!@#$%^&*()_+-=[\]{};:'",.<>?|]+$/.test(password)) {
  return false; // Password contains invalid characters
}

      return true; // Password is valid
    }

    // Display validation message inside a red box
    function displayValidationMessage(message) {
      validationMessage.textContent = message;
      validationMessage.style.display = 'block';
    }
  });
</script>
{% endblock %}
